<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
</head>

<body>
  <div class = "container">
     <h1 class="text-center">{{ page.title }}</h1>
    {{ content }}
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  {% for lib in page.libs %}
    <script src="{{ site.baseurl }}/libs/{{ lib }}.js"></script>
  {% endfor %}
  {% for script in page.js %}
    <script src="{{ site.baseurl }}/js/{{ script }}.js"></script>
  {% endfor %}
  {{ page.scripts }}
</body>